.agitation {
  position: relative;
  .background {
    overflow: hidden;
    height: 832px;
    video {
      width: 100%;
    }
  }
  .text {
    margin: 96px auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    max-width: 1120px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(90px);
    h2 {
      margin-top: 78px;
      font-weight: 500;
      font-size: 54px;
      line-height: 64px;
      background: $gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      letter-spacing: -2px;
    }
    .advantages {
      margin: 83px 96px 94px 96px;
      ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 448px));
        grid-column-gap: 32px;
        li {
          text-align: left;
          img {
            float: left;
            width: 24px;
            height: 24px;
            margin: 20px 20px 20px 0;
          }
          p {
            color: $black;
            font-weight: 500;
            font-size: 18px;
            line-height: 31px;
          }
          hr {
            height: 1px;
            width: 100%;
            margin: 0;
            background-color: $gray-hr;
            border: none;
          }
        }
      }
    }
  }

  .mobile-text {
    display: none;
    h2 {
      margin-top: 51px;
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
      background: $gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .advantages {
      margin-top: 27px;
      ul {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 32px;
        li {
          text-align: left;
          img {
            float: left;
            width: 24px;
            height: 24px;
            margin: 20px 20px 20px 0;
          }
          p {
            color: $black;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            margin-top: 21px;
          }
          hr {
            height: 1px;
            width: 100%;
            margin: 0;
            background-color: $gray-hr;
            border: none;
          }
        }
      }
    }
  }

  //media-запросы

  @media (max-width: 1480px) {
    .background {
      height: auto;
    }
  }

  @media (max-width: 1440px) {
    .text {
      margin: 64px auto;
      transform: scale(0.9);
    }
  }

  @media (max-width: 1340px) {
    .text {
      margin: 32px auto;
      transform: scale(0.8);
    }
  }

  @media (max-width: 1240px) {
    .text {
      margin: 12px auto;
      transform: scale(0.7);
    }
  }

  @media (max-width: 1140px) {
    .text {
      margin: -115px auto;
      transform: scale(0.6);
      .advantages ul {
        grid-template-columns: 1fr;
      }
    }
  }

  @media (max-width: 1000px) {
    .text {
      display: none;
    }
    .mobile-text {
      display: block;
      h2 {
        text-align: left;
        letter-spacing: -2px;
      }
      .advantages {
        ul li {
          img {
            width: 16px;
            height: 16px;
          }
          p {
            font-weight: 500;
            font-size: 13px;
            line-height: 19px;
          }
        }
      }
    }
  }
}
