$background: #f8f9fb;
$gradient: linear-gradient(
  100deg,
  rgba(255, 129, 119, 1),
  rgba(255, 134, 122, 1),
  rgba(255, 140, 127, 1),
  rgba(249, 145, 133, 1),
  rgba(207, 85, 108, 1),
  rgba(177, 42, 91, 1)
);
$gray-dark: #4d4d4d;
$orange: #ff4114;
$orange-hover: #c43715;
$black: #222222;
$gray-hr: #dcdce6;
$darken-hr: #cccccc;
$gray: #808080;
$background-gray: #e5e5e5;
$input: #F2F4F7;
$border: #EAEAEA;
$footer-gray: #969BA5;;
